:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f0eaea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img{
  max-width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

article {
  border: 4px solid rgb(166, 248, 207);
  width: 300px;
  border-radius: 0.5rem;
  text-align: center;
  margin: 0 auto;
}

.photo{
  border: 2px ;
  width: 300px;
  border-radius: 1rem;
  text-align: center;
  margin: 0 auto;
}



.container {
  display: flex;
  flex-wrap: wrap;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #473321;
    background-color: #b8dc35;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f8f5ba;
  }
}


